{% extends "base.html" %}
{% block title %}
    <title>login</title>
{% endblock %}
{% block style %}
        <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}
{% block content %}
<div class="wrapper">
            <h1 class="h1-login">LOG IN</h1>

            <form action="" method="post">
                <p class="space">
                    <label for="">メールアドレス</label>
                    <br /><input type="email" class="txt" name="email"/>
                </p>

                <p class="space">
                    <label for="">パスワード</label>
                    <br /><input type="password" class="txt" name="password"/>
                </p>

                <div class="resetting">
                    <a href="/forget">パスワードを忘れた方（再設定）</a>
                </div>

                <input
                type="submit" value="ログイン" class="button"
                />
                <!-- <div class="button">
                    <a href="/home" class="button-a">ログイン</a>
                </div> -->

                <div class="new">
                    <a href="/signup"
                        >はじめてご利用の方（新規ユーザー登録）</a>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
