{% extends "base.html" %}
{% block title %}
    <title>signup</title>
{% endblock %}
{% block style %}
        <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}
{% block content %}
<div class="signup-wrapper">
            <h1 class="h1-signup">SIGN UP</h1>

            <form action="" method="post">
                <p>
                    <label for="">ユーザーネーム</label>
                    <br /><input type="text" class="txt" />
                </p>

                <p class="password">
                    <label for="">メールアドレス</label>
                    <br /><input type="email" class="txt" />
                </p>

                <p class="password">
                    <label for="">パスワード</label>
                    <br /><input type="text" class="txt" />
                </p>

                <p class="password">
                    <label for="">パスワード再入力</label>
                    <br /><input type="text" class="txt" />
                </p>

                <input type="submit" value="サインアップ" class="button" />

                <div class="back-btn">
                    <a href="login.html">⇦戻る</a>
                </div>
            </form>
        </div>
{% endblock %}
